<div class="row">
    <div class="col-xs-12">
        <div class="btn btn-success">New Weather</div>
    </div>
</div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <table>
                <thead>
                    <tr>
                        <th>Flow</th>
                        <th>Pressure</th>
                    </tr>
                </thead>
            </table>
            <app-weather-item *ngFor="let weatherEl of weathers; let i = index" [weather]="weatherEl" [index]="i"></app-weather-item>
        </div>
    </div>

    <!-- <a href="#" class="list-group-item clearfix" *ngFor="let weather of weathers"></a> -->

